{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "tabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "arrowParens": "always",
  "proseWrap": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "rangeStart": 0
}
